[Desktop Entry]
Version=1.0
Name=BSDMC
GenericName=Minecraft Launcher
Comment=Free, open source launcher and instance manager for Minecraft.
Type=Application
Terminal=false
Exec=bsdmc
Icon=bsdmc
Categories=Game
Keywords=game;minecraft;
